body {
  background-color: #cccccc;
}
h2 {
  text-align: center;
}
.content {
  width: 500px;
  height: auto;
  margin: 0px auto;
  margin-top: 50px;
}
.content .p1 {
  font-size: 20px;
}
.content .p1 .s3{
  float: right;
  font-size: 14px;
}