<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>css3翻拍效果</title>
  <link rel="stylesheet" href="/public/css/rotate.css">
</head>
<body>
  <div class="flip_wrap">

    <div class="flip">
      <div class="side front">
        <p>正面 背景可以透明</p>
      </div>
      <div class="side back">
        <span>反面 背景可以透明</span>
        <p>反面内容</p>
      </div>
    </div>
   </div>
   <div class="container">
    <div class="backBox">
      <p class="text">反面内容</p>
    </div>
    <div class="frontBox">
      <p class="text">正面内容</p>
    </div>
   </div>

   <p>content</p>
   <p>content</p>
   <p>content</p>
   <p>content</p>
   <p>content</p>
   <p>content</p>
   <p>content</p>
   <p>content</p>
   <p>content</p>
</body>
</html>